@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,300|Yeseva+One');

body {
  background-color: #F4F4F4;
  font-family: 'Open Sans';
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.thin-container {
  width: 600px;
  margin: 0 auto;
}

.post-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.post-item {
  padding: 10px;
  margin-bottom: 10px;
}

.item{
  align-items: center;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.btn {
  border-radius: 0;
}

.first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ACACAC;
  margin-bottom: 10px;
}

.nav .navbar-nav .navbar-right .active {
  color: White ;
  font-weight: bold;
}