@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,300|Yeseva+One');

body {
  background-color: #F4F4F4;
  font-family: 'Open Sans';
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.thin-container {
  width: 600px;
  margin: 0 auto;
}

h3 {
  margin-top: 0;
  font-family: 'Yeseva One';
}